.modal-paper {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    outline: none;
}

.modal-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
